@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.2px !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.connect-wallet-button {
  width: 285px !important;
  height: 60px !important;
  background-color: #262626 !important;
  border-radius: 8px !important;
  color: #fff !important;
  font-size: 24px !important;
  font-weight: 400 !important;
}
